*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    
}

#immagine-logo{
    margin: 10px 2px 10px 20px;
    vertical-align: middle;
}

#titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
}

.contenitore{
    background-color: white;
    width: 1000px;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 5px;
}

.bottone{
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: rgb(78, 160, 255) solid 2px; 
}

.blu-speciale{
    background: rgb(78, 160, 255);
}

.input{
    text-align: center;
    padding: 10px ;
    border-radius: 5px;
    border: lightgray solid 2px; 
}

nav{
    border-bottom: aliceblue 2px solid;
    padding: 10px;
}

.lista{
    margin-top: 50px;
}

ul{
    list-style: none;
}

li{
    margin: 15px 5px;
}

.titolini{
    font-size: 1.3rem;

}

.spazio-titolini{
    margin-bottom: 30px;
}

.to-do{
    border-radius: 50%;
    border: lightgreen solid 2px;
    color: lightgreen;
}

.not-to-do{
    border-radius: 50%;
    border: red solid 2px;
    color: red;
}

.nota{
    font-size: 10px;
    text-align: center;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
}

.violetto-speciale{
    background-color: rgb(180, 130, 214); 
}

.verde-speciale{
    background-color: rgb(71, 178, 108);
}

.orange-speciale{
    background-color: orange;
}

.rosso-speciale{
    background-color: rgb(206, 105, 147);
}

.verde-limone-speciale{
    background-color: rgb(182, 237, 94);
}