*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    
}

#immagine-logo{
    margin: 10px 20px;
}

h1{
    display: inline-block;
}